.navigation {
  ul {
    display: flex;
    margin: 30px;

    a {
      text-decoration: none;
      padding: 10px;

      li {
        color: white;
        transition: 0.2s;
        cursor: pointer;
        list-style: none;

        &:hover {
          color: #d1bfff;
        }
      }
    }
  }
}
